<div class="container">

<% if !user_signed_in? %>
  <div class="jumbotron">
    <h1>Your favorite Books Reviews</h1>
    <p> Here is the place to review your books and to add comments</p>
    <p> <%= link_to "Sign up to Write a Comment", new_user_registration_path, class: "btn btn-primary btn-lg" %> </p>
  </div>
<% end %>


<div class="row">
  <% @books.each do |book| %>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <%= link_to (image_tag book.image.url(:medium), class: 'image'), book %>
      </div>
    </div>
  <% end %>
</div>

</div>


